body{
background-color: rgb(8, 57, 8);
display: flex;
justify-content: center;
align-items: center;
}

.content{
    display: flex;
    flex-direction: row;
    padding: 6rem 0 0 0;
    font-family: cursive;
    font-size: 60px;
    font-weight: 800;
}
.f{
    color: pink;
    margin-left: 1rem;
    
}
.u{
    color: yellow;
    margin-left: 1rem;
    
}
.n{
    color: purple;
    margin-left: 1rem;
}
.t{
    color: red;
    margin-left: 1rem;
    
}
.i{
    color: orange;
    margin-left: 1rem;
}
.m{
    color: greenyellow;
    margin-left: 1rem;
}
.e{
    color: rgb(176, 107, 236);
    margin-left: 1rem;  
}
.game{
    position: absolute;
    top: 45%;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none; 
}
a{
    text-decoration: none;
    color: rgb(255, 0, 157);
}



/* .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 5rem 0 0 0;

}
.btn{
    height: 2.5rem;
    width: 9rem;
    border-radius: 20px;
    border: none;
    background-color: yellowgreen;
    color: white;
    font-weight: 600;
}

#quote{
    background-color: red;
    color: white;
    margin: 1rem 2rem 1rem 2rem;
    font-weight: 500;
    
}
input{
    height: 1.8rem;
    width:200px;
    border-radius: 10px;
    color: rgb(17, 145, 3);
}
#timer{
    margin-top: 2rem;
} */